.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.env
Thumbs.db
*.tmp
*.log
*.th
*.bin
*.safetensors

data/*
!data/.gitkeep

egs/*
!egs/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/test_prompts_best/
outputs/test_prompts_best/*
!outputs/test_prompts_best/*.wav
!outputs/test_prompts_best/*.json

docs/
report/
external/
wandb/
checkpoints/
logs/
